@import url("https://fonts.googleapis.com/css2?family=Gajraj+One&family=Nabla&display=swap");

body {
  font-family: "Gajraj One", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
input,
label {
  font-family: "Gajraj One", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ghost-title {
  font-family: "Nabla", cursive;
  letter-spacing: 2px;
}
